body {
    background-color: white;
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #155eb6;
  }

  ul {
    margin: 0;
  }

  .bg-steel {
    background: hsla(142, 72%, 50%, 1);
    background: linear-gradient(45deg, hsla(142, 72%, 50%, 1) 0%, hsla(247, 61%, 53%, 1) 100%);
    background: -moz-linear-gradient(45deg, hsla(142, 72%, 50%, 1) 0%, hsla(247, 61%, 53%, 1) 100%);
    background: -webkit-linear-gradient(45deg, hsla(142, 72%, 50%, 1) 0%, hsla(247, 61%, 53%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#24d966", endColorstr="#503fd1", GradientType=1 );
  }

  .site-header .navbar-nav .nav-link {
    color: #000000;
  }

  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff91;
  }
  .navbar-brand {
    color: blueviolet;
  }
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .content-section {
    background: rgb(69, 187, 114);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .article-title {
    color: #444444;
  }

  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  .article-date {
    color: gray;
  }
  .article-content {
    white-space: pre-line;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }

  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }

  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }

  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

  .account-heading {
    font-size: 2.5rem;
  }

  .form-inline{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-inline #search{
  width: 50%;
}

.videoTest > video{
    border:1px solid red;
    margin:0;
    padding:0;
}